@using IQTest.Models.ViewModels
@using IQTest.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model QuestionVM

@{
    string IsChecked(string value)
    {
        if (Model.SelectedChoice == value)
            return "checked";

        return "";
    }
}

<input type="hidden" asp-for="@Model.Question.Number" id="questionNumber" />
<h1>Question @Model.Question.Number :  @Model.Question.Title</h1>
<br />
<img src="@Model.Question.Image" style="width:85vw; height:35%;" />
<br />
<br />
<div class="row" style="padding-top:50px;padding-bottom:50px;">
    <div class="col-6 col-lg-3 " style="display:flex;align-items:center;flex-direction:column;">

        <img src="@Model.Question.Choice1" style="width:160px; height:150px;" />
        <br />
        <input type="radio" name="choices" value="@Model.Question.Choice1" id="Choice1" @IsChecked(Model.Question.Choice1) />
        <br />
    </div>

    <div class="col-6 col-lg-3 " style="display:flex;align-items:center;flex-direction:column;">
        <img src="@Model.Question.Choice2" style="width:160px; height:150px;" />
        <br />
        <input type="radio" name="choices" value="@Model.Question.Choice2" id="Choice2" @IsChecked(Model.Question.Choice2) />
        <br />
    </div>
    <div class="col-6 col-lg-3 " style="display:flex;align-items:center;flex-direction:column;">
        <img src="@Model.Question.Choice3" style="width:160px; height:150px;" />
        <br />
        <input type="radio" name="choices" value="@Model.Question.Choice3" id="Choice3" @IsChecked(Model.Question.Choice3) />
        <br />
    </div>
    <div class="col-6 col-lg-3 " style="display:flex;align-items:center;flex-direction:column;">
        <img src="@Model.Question.Choice4" style="width:160px; height:150px;" />
        <br />
        <input type="radio" name="choices" value="@Model.Question.Choice4" id="Choice4" @IsChecked(Model.Question.Choice4) />
        <br />
    </div>

</div>
<div style="display:flex; justify-content:space-between; width:90vw">




    @if (Model.Question.Number != 1)
    {
        <button onclick="PreviousQuestion()" class="main-btn center">Previous</button>
    }
    else
    {
        <div class="main-btn center " style="opacity:0; cursor:default;"></div>
    }



    @if (Model.Question.Number != 25)
    {
        <button onclick="NextQuestion()" class="main-btn center">Next</button>

    }
    else
    {
        <button onclick="FinishTest()" class="main-btn center">Finish</button>
    }
</div>
<br />
<br />
<br />

<div class="row d-flex justify-content-center" style="width:90%;">
    @for (int qNumber = 1; qNumber <= 25; qNumber++)
    {
        <div class="navContainer" onclick="NextQuestion(`@qNumber`)">
            <div style="height:55%;border-bottom:1px solid black;width:100%;text-align:center;">
                <span style="color:#2d29f2;font-size:1rem;font-weight:bold;">@qNumber</span>
            </div>
            @{
                var questionsStore = HttpContextAccessor.HttpContext.Session.GetObject<QuestionsVM>("Questions");

                if (questionsStore != null)
                {
                    var questionVM = questionsStore.Questions.FirstOrDefault(qvm => qvm.Question.Number == qNumber);

                    if (questionVM != null)
                    {
                        <div class="fill">
                        </div>
                    }
                }

            }

        </div>
    }
</div>